---
import Base from "../layouts/Base.astro";

import { getCollection } from "astro:content";
import ProjectList from "../components/ProjectList.astro";

const projects = await getCollection("project");
const tier1Projects = projects.filter((project) => project.data.tier === 1);
const tier2Projects = projects.filter((project) => project.data.tier === 2);
---

<Base>
  <section class="wrapper style1">
    <div class="container">
      <div class="row gtr-200">
        <section class="col-4 col-12-narrower">
          <div class="box highlight">
            <img src="https://i.imgflip.com/83vtf4.jpg" alt="" />
            <h3>This Is Important</h3>
            <p>
              Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus
              nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
            </p>
          </div>
        </section>
        <section class="col-4 col-12-narrower">
          <div class="box highlight">
            <img src="https://i.imgflip.com/83vtf4.jpg" alt="" />
            <h3>Also Important</h3>
            <p>
              Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus
              nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
            </p>
          </div>
        </section>
        <section class="col-4 col-12-narrower">
          <div class="box highlight">
            <img src="https://i.imgflip.com/83vtf4.jpg" alt="" />
            <h3>Probably Important</h3>
            <p>
              Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus
              nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
            </p>
          </div>
        </section>
      </div>
    </div>
  </section>
  <ProjectList
    title="Tier 1 Projects"
    description="These are really important!"
    projects={tier1Projects}
  />
  <ProjectList
    title="Tier 2 Projects"
    description="These are also really important!"
    projects={tier2Projects}
  />
</Base>
