---
import Header from "../components/Header.astro";

const title = "Urban Analytics Technology Platform";
---

<!doctype html>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={title} />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body class="is-preload">
    <div id="page-wrapper">
      <Header title={title} />

      <slot />

      <!-- Footer -->
      <div id="footer">
        <div class="container">
          <div class="row">
            <section class="col-3 col-6-narrower col-12-mobilep">
              <h3>External Links</h3>
              <ul class="links">
                <li>
                  <a href="https://www.turing.ac.uk/">Alan Turing Institute</a>
                </li>
                <li>
                  <a
                    href="https://www.turing.ac.uk/research/research-programmes/urban-analytics"
                    >Urban Analytics Program</a>
                </li>
              </ul>
            </section>
            <section class="col-6 col-12-narrower">
              <h3>Get In Touch</h3>
              <form>
                <div class="row gtr-50">
                  <div class="col-6 col-12-mobilep">
                    <input
                      type="text"
                      name="name"
                      id="name"
                      placeholder="Name"
                    />
                  </div>
                  <div class="col-6 col-12-mobilep">
                    <input
                      type="email"
                      name="email"
                      id="email"
                      placeholder="Email"
                    />
                  </div>
                  <div class="col-12">
                    <textarea
                      name="message"
                      id="message"
                      placeholder="Message"
                      rows="5"></textarea>
                  </div>
                  <div class="col-12">
                    <ul class="actions">
                      <li>
                        <input
                          type="submit"
                          class="button alt"
                          value="Send Message"
                        />
                      </li>
                    </ul>
                  </div>
                </div>
              </form>
            </section>
          </div>
        </div>

        <!-- Copyright -->
        <div class="copyright">
          <ul class="menu">
            <li>
              © The Alan Turing Institute {new Date().getFullYear()}. All
              rights reserved.
            </li><li>
              Design: <a href="http://html5up.net">HTML5 UP</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Must use is:inline to stop Astro from gobbling the scripts.
             https://docs.astro.build/en/guides/client-side-scripts/ -->
    <script is:inline src="/arcana-js/jquery.min.js"></script>
    <script is:inline src="/arcana-js/jquery.dropotron.min.js"></script>
    <script is:inline src="/arcana-js/browser.min.js"></script>
    <script is:inline src="/arcana-js/breakpoints.min.js"></script>
    <script is:inline src="/arcana-js/util.js"></script>
    <script is:inline src="/arcana-js/main.js"></script>
  </body>
</html>
